.. _ref_workshop_cli:

workshop (CLI)
==============

.. @artefact workshop (CLI)

The :program:`workshop` utility exposes the following commands,
each with its own set of options,
and also has a number of global flags:

-h, --help

   Print the help message for the command.


-p, --project `path`

   Specify the project's directory path.


{{ range .Files }}
.. include:: {{ . }}

{{ end }}


Shell completion
----------------

To configure shell completion,
follow the instructions offered by **workshop completion**:

.. code-block:: console

   $ workshop completion -h

For example, in your :file:`~/.bashrc` file:

.. code-block:: console

   $ source <(workshop completion bash)


See also
--------

Explanation:

- :ref:`exp_workshop_cli`
