# IDEs
.vscode/
.code-workspace
__debug_bin*
.tmux*

# Local artefacts
workshop
workshopctl
!workshop/
!workshopctl/
.spread-reuse.*
.workshop.lock
*.snap
cover.out
coverage.out

# docs
gendocs
docs-gendocs
linkcheck-output.txt

# Lychee link checker
.lycheecache
docs/_build/lychee-output.json
docs/_build/lychee-output.txt

# sentitive files
*.crt
*.key
