.vscode/
workshop
!workshop/
.spread-reuse.yaml
.workshop.lock
__debug_bin*
*.snap
cover.out
docs/.sphinx/venv/
docs/.sphinx/warnings.txt
docs/.sphinx/.wordlist.dic
docs/.sphinx/.doctrees/
docs/_build
