# IDEs
.vscode/
.code-workspace
__debug_bin*
.tmux*

# Local artefacts
workshop
workshopctl
!workshop/
.spread-reuse.*
.workshop.lock
/.workshop/
*.snap
cover.out

# docs
gendocs
docs-gendocs

# sentitive files
*.crt
*.key
