[Unit]
Description=Workspace Daemon
Wants=snap.lxd.daemon.service

[Service]
ExecStart=/root/go/bin/workspaced run --create-dirs
OOMScoreAdjust=-900
Restart=always
WatchdogSec=5m
Type=notify
SuccessExitStatus=42
RestartPreventExitStatus=42
KillMode=process

[Install]
WantedBy=multi-user.target
