
# Canonical theme (still needed for Furo theme and custom templates)
# Extensions previously auto-loaded by canonical-sphinx
# Extra extensions, previously bundled as canonical-sphinx-extensions
# Other dependencies
# Vale dependencies
canonical-sphinx>=0.5.1
myst-parser
packaging
pre-commit
rst2html
sphinx-autobuild
sphinx-config-options>=0.1.0
sphinx-contributor-listing>=0.1.0
sphinx-copybutton
sphinx-design
sphinx-filtered-toctree>=0.1.0
sphinx-last-updated-by-git
sphinx-notfound-page
sphinx-related-links>=0.1.1
sphinx-reredirects
sphinx-roles
sphinx-roles>=0.1.0
sphinx-sitemap
sphinx-tabs
sphinx-terminal>=0.1.1
sphinx-terminal>=1.0.2
sphinx-ubuntu-images>=0.1.0
sphinx-youtube-links>=0.1.0
sphinxcontrib-jquery
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinxext-opengraph
vale
